/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


.landing{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}


.btn-perusahaan{
    transition: 0.3s ease;
    color: #FFF !important;
    background: #0039AB !important;
    padding: 10px !important;
    margin: 5px !important;
    border-radius: 2pt !important;
}

.btn-perusahaan:hover{
    background: #336cdf !important;
    color: #FFF !important;
}

.btn-regis{
    color:#0039ad !important;
}

.btn-regis:hover{
    color:#336cdf !important;
    text-decoration : underline !important;
}

.topnav {
    font-size: 14px; 
-webkit-box-shadow: 0px 15px 35px -24px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 15px 35px -24px rgba(0,0,0,0.75);
box-shadow: 0px 15px 35px -24px rgba(0,0,0,0.75);
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 2.5em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.bannerlanding {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.bannerlanding h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.bannerlanding ul {
    margin-bottom: 0;
}

.bannerlanding-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.bannerlanding-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .bannerlanding h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.bannerlanding-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.bannerlanding-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}